/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  overflow: hidden;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  height: 100%;
  margin: 0;
}

h1,h2,h3 {
  margin: 0;
}

h3 {
  font-family: 'proxima-nova';
  font-weight: 100;
  font-size: 11px;
  color: #5F6876;
  letter-spacing: 2.2px;
  text-transform: uppercase;
}

label {
  display: block;
  font-family: 'proxima-nova';
  font-size: 11px;
  color: #5F6876;
  letter-spacing: 2.5px;
  line-height: 23px;
}

.content {
  margin: 0 auto;
  width: 100%;
}

.inner {
  background-image: linear-gradient(-169deg, #F4EBE5 0%, #E3D4CA 99%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.main {
  height: 694px;
  width: 1280px;
  background: #FEFEFE;
  border-radius: 7px;
  box-shadow: 22px 32px 34px 0 rgba(0,0,0,0.06);
  position: relative;
  overflow: hidden;
  @media (max-width: 1280px) {
    width: 100%;
    height: 100%;
  }
}

.layout {
  height: 100%;
}
